<div class="container">
    <h2>New Booking</h2>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-3">
                    <label for="">Name</label>
                    <input type="text" class="form-control border-secondary" [(ngModel)]="bookingObj.name">
                </div>
                <div class="col-3">
                    <label for="">Mobile</label>
                    <input type="text" class="form-control border-secondary" [(ngModel)]="bookingObj.mobileNo">
                </div>
                <div class="col-3">
                    <label for="">Email</label>
                    <input type="text" class="form-control border-secondary" [(ngModel)]="bookingObj.email">
                </div>
            </div>
            <div class="row">

                <div class="col-3">
                    <label for="">Aadhar No</label>
                    <input type="text" class="form-control border-secondary" [(ngModel)]="bookingObj.aadharNo">
                </div>
                <div class="col-3">
                    <label for="">City </label>
                    <input type="text" class="form-control border-secondary" [(ngModel)]="bookingObj.city">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="">Address</label>
                    <textarea class="form-control border-secondary" [(ngModel)]="bookingObj.address"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label for="">Selcet Room</label>
                    <select  class="form-control border-secondary"  [(ngModel)]="bookingObj.roomId">
                        <option value="">Select Room</option>
                        <option *ngFor="let room of roomList" [value]="room.roomId">{{room.roomName}}</option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="">Room Tarrif </label>
                    <input type="text" class="form-control border-secondary" [(ngModel)]="bookingObj.bookingRate">
                </div>
                <div class="col-3">
                    <label for="">Booking From</label>
                    <input type="date" class="form-control border-secondary" [(ngModel)]="bookingObj.bookingFromDate">
                </div>
                <div class="col-3">
                    <label for="">Booking to </label>
                    <input type="date" class="form-control border-secondary" [(ngModel)]="bookingObj.bookingToDate">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label for="">Booking Extra Details</label>
                    <textarea class="form-control border-secondary" [(ngModel)]="bookingObj.naration"></textarea>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-6">
                    <h5>Guest Details</h5>
                </div>
                <div class="col-6 text-end ">
                    <button class=" btn btn-primary btn-sm text-end" (click)="AddGuest()">Add New</button>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-12">
                    <table class="table table-bordered">
                        <tbody>
                            <tr *ngFor="let guest of bookingObj.hotelBookingDetails; let index=index">
                                <td>
                                    <input type="text" class="form-control border-secondary" [(ngModel)]="guest.customerName" placeholder="Guest Name">
                                </td>
                                <td>
                                    <input type="text" class="form-control border-secondary" [(ngModel)]="guest.aadharCardNo" placeholder="Aadhar No">
                                </td>
                                    
                                <td><button class="btn btn-success" (click)="removeGuest(index)">Remove</button></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


<div class="row pt-3">
    <div class="col-8 text-center">
        <button class="btn btn-success" (click)="onSavebooking()">Create New Booking</button>
    </div>
</div>




</div>